---
import { marked } from 'marked';
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
            {hero.title && <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{hero.title}</h1>}
            {hero.image?.src && (
                <figure>
                    <img class="w-full" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                    {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
                </figure>
            )}
            <div
                class="max-w-none prose prose-dante sm:prose-lg"
                set:html={marked.parse(
                    "I'm **Steven Boutcher**, a QA professional based in Door County, Wisconsin.\n\nCurrently, I'm the QA Automation Engineer at Immunefi where I grow our Playwright test suite and coach the team on how to write great end-to-end tests. I also get my hands dirty testing new functionality.\n\nOn the side, I like to help QA professionals navigate their careers & the job market. Check out my [Community](/community) and [Resources](/resources) pages for more details on that.\n\nAfter work, my wife & I like to explore the wonders of Door County: cherry-picking, meeting owls at the bird sanctuary, visiting lighthouses, and more. Our 2 black cats, Sadie & Bean, are the best of friends\n\nWhen I need a break from the world, I love to bike down to the Lake Michigan shore and jump around on the big rocks. Other times I'll dust off the violin and play some Lindsey Stirling hits."
                )}
            />
            {hero.actions && hero.actions.length > 0 && (
                <div class="flex flex-wrap gap-4">
                    {hero.actions.map((action) => (
                        <Button href={action.href} target={action.target}>
                            {action.text}
                        </Button>
                    ))}
                </div>
            )}
        </section>
    )
}
